
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<p class="error">Make sure you give up 2 different stations and a valid date.</p>