
@{
    ViewData["Title"] = "Calculate journey";
}

@section Styles {
    <link href="~/lib/jqueryui/jquery-ui.min.css" rel="stylesheet" />
}

<h2>Your journey</h2>


<form asp-action="Index"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-mode="replace"
      data-ajax-update="#content"
      data-ajax-loading="#loading"
      data-ajax-success="Success"
      data-ajax-failure="Failure">
    <div class="row">
        <div class="col-md-3">
            <label for="departureId" class="control-label">Departure:</label>
            <select id="departureId" name="departureId" asp-items="@ViewBag.stations" class="form-control">
                <option>Please select a station...</option>
            </select>
        </div>
        <div class="col-md-3">
            <label for="destinationId" class="control-label">Destination:</label>
            <select id="destinationId" name="destinationId" asp-items="@ViewBag.stations" class="form-control">
                <option>Please select a station...</option>
            </select>
        </div>
        <div class="col-md-3">
            <label for="dateOfDeparture" class="control-label">Date of departure:</label>
            <input id="dateOfDeparture" class="form-control" name="dateOfDeparture" autocomplete="off"/>
        </div>
        <div class="col-md-2">
            <button class="form-control horizontal-submit horizontal-form" onclick="calculate">Calculate Route</button>
        </div>
        <div class="col-md-1">
            <img src="~/images/loading.gif" class="horizontal-form" alt="loading" style="display: none"/>
        </div>
    </div>
</form>

<hr/>

<div id="content">

</div>

@section Scripts {
    <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/js/route.js"></script>
}