
@{
    ViewData["Title"] = "Calculate journey";
}

@section Styles {
    <link href="~/lib/jqueryui/jquery-ui.min.css" rel="stylesheet" />
}

<h2>Your journey</h2>


<form id="searchForm"
      asp-action="Index"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-mode="replace"
      data-ajax-update="#routeContent"
      data-ajax-loading="#calculateLoading"
      data-ajax-succes="Succes"
      data-ajax-failure="Failure">
    <div class="row">
        <div class="col-md-3">
            <label for="departureId" class="control-label">Departure:</label>
            <select id="departureId" name="departureId" asp-items="@ViewBag.stations" class="form-control">
                <option>Please select a station...</option>
            </select>
        </div>
        <div class="col-md-3">
            <label for="destinationId" class="control-label">Destination:</label>
            <select id="destinationId" name="destinationId" asp-items="@ViewBag.stations" class="form-control">
                <option>Please select a station...</option>
            </select>
        </div>
        <div class="col-md-3">
            <label for="dateOfDeparture" class="control-label">Date of departure:</label>
            <input id="dateOfDeparture" class="form-control" name="dateOfDeparture" autocomplete="off" />
        </div>
        <div class="col-md-2">
            <input class="form-control horizontal-submit horizontal-form" type="submit" value="Calculate Route" />
        </div>
        <div class="col-md-1">
            <img id="calculateLoading" src="~/images/loading.gif" class="horizontal-form" alt="loading" style="display: none; width: 80%" />
        </div>
    </div>
</form>

<hr />

<div id="routeContent">

</div>

@section Scripts {
    <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive-master/dist/jquery.unobtrusive-ajax.js"></script>
    <script src="~/js/route.js"></script>
}