@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<h3>@ViewData["Message"]</h3>
<p>
    Thank you for visiting our website! we are Schotte Jochen &amp; Cantaert Jordy, two Sofware Development students form the College of VIVES Kortrijk 
    For a school for the subject of Web Development we were tasked to develop this website. On this site you can not acually buy TGV tickets, also when u 
    do try to buy items you will not be charged with any form of payment. But you do will recieve an email with the information of the tickets you 'orderd'. 
</p>
<p>
    If you have any question you can contact us with the info found of the <a asp-controller="Home" asp-action="Contact">Contact us page</a> of
    the website.
</p>
<p>
    We hope you'll like our our project!
</p>
