@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>If you have an issue, please contact one of our lead developers below.</h3>

<address>
    <strong>TGnV headquarters</strong><br />
    The innovation to your journey<br />
    Doorniksesteenweg 145<br />
</address>

<address>
    <strong>Schotte Jochen</strong> <br />
    <a href="mailto:jochen.schotte@student.vives.be">jochen.schotte@student.vives.be</a><br />
    Lead Software Developer
</address>

<address>
    <strong>Cantaert Jordy</strong> <br />
    <a href="mailto:jordy.cantaert@student.vives.be">jordy.cantaert@student.vives.be</a><br />
    Lead Software Developer
</address>
