@model IList<string>

@{
    ViewData["Title"] = "Users";
}

<h2>Users</h2>

<h4>Which user will use these tickets?</h4>

<form asp-action="Confirm" method="post">
    <input readonly="readonly" asp-for="@Model[0]" class="form-control" />
    @for (int i = 1; i < Model.Count; i++)
    {
        <input asp-for="@Model[i]" class="form-control" />
    }
    <input type="submit" value="Confirm" class="horizontal-submit form-control"/>
</form>