
@{
    ViewData["Title"] = "ErrorWhileSengingMail";
}

<h2>Something went wrong while sending an order confirmation to your email</h2>
<h3>Please check your order history to ensure that your order went trough</h3>

