
@{
    ViewData["Title"] = "Testpage";
}

<h2>testpage</h2>

<h3>Thank you for your order placed on @DateTime.Now.ToString("dd/MM/yyyy")</h3>
<h4>You can find a summary of your order below</h4>

<hr/>

<div class="row">
    <div class="col-md-4">
        <p>Time of departure: een ure</p>
        <p>Time of arrival: een ure</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <p> van &rarr; naar</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <p>Seat</p>
    </div>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <p>Time of departure: een ure</p>
        <p>Time of arrival: een ure</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <p> van &rarr; naar</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <p>Seat</p>
    </div>
</div>

<hr />