/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/*#startScreenContent {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/railways.jpg');
    background-size: cover;
    background-position: center center;
    position: relative;
    top: 0;
    bottom: 0;
    height: 100vh;
}*/

.jumbotron {
    background: url('../images/railways.jpg') fixed center no-repeat;
    background-size: cover;
    position: relative;
    width: auto;
    height: 100vh;
}


    /*#startScreenImg {
        min-height: 100%;
        min-width: 1024px;
         Set up proportionate scaling 
        width: 100%;
        height: auto;
         Set up positioning 
        position: fixed;
        top: 0;
        left: 0;
    }
@media screen and (max-width: 1024px) {  Specific to this particular image 
    img.bg {
        left: 50%;
        margin-left: -512px; 50% 
    }*/

/*#startScreenImg{
    width:1080px;
}*/


.horizontal-form {
    margin-top: 25px;
}

.horizontal-submit {
    background-color: limegreen;
    color: white;
}

p.error {
    color: red;
    font-weight: bold;
}

.route {
    border: 1px solid lightgray;
}